{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{{ url_for('create_post') }}">
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <div>
            {{ form.title.label }}
            {{ form.title() }}
        </div>
        <div>
            {{ form.body.label }}
            {{ form.body() }}
        </div>

        <div>
            <input type="submit"  />
        </div>
    </form>
{% endblock %}
